<!DOCTYPE html>
<html>
<head>
  <title><%= statusCode %> Error</title>
</head>
<body>

<%- include('./partials/header') %>

<section class="sectionmin">

  <h1  class="mainheading"></h1>
  <h1><%= statusCode %></h1>
  <p><%= message %></p>
  <a href="/">Back to Home</a>

</section>

<%- include('./partials/footer', { title: 'EMP Management System' }) %>

</body>
</html>
