<!DOCTYPE html>
<html>
<head>
  <title>Logs for <%= date %></title>
  <style>
    
  </style>
</head>
<body>
<%- include('../partials/header') %>
<section class="sectionmin">
  <h1  class="mainheading">📄 Report Logs</h1>

<section class="logscontrol">
  <form  id="logForm" method="get" action="/report-logs">
    <label for="dateSelect">Select Date:</label>
    <select id="dateSelect" name="date" onchange="document.getElementById('logForm').submit()">
      <% availableDates?.forEach(d => { %>
        <option value="<%= d %>" <%= d === date ? 'selected' : '' %>><%= d %></option>
      <% }); %>
    </select>
  </form>
  <% if (logs.length !== 0) { %>
  <p>
    <a href="/download-logs?date=<%= date %>">Download Report </a>
  </p>
  <% }   %>
</section>

  <% if (logs.length === 0) { %>
    <p class="logsNotFound">No logs found for <b><%= date %></b></p>
  <% } else { %>
    <table class="logstable">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Level</th>
          <th>Message</th>
          <th>Metadata</th>
        </tr>
      </thead>
      <tbody>
        <% logs.forEach(log => { %>
            <tr>
            <td><%= log.timestamp %></td>
            <td><%= log.level  %></td>
            <td><%= log.message %></td>
            <td>
            <% 
                const { timestamp, level, message, ...meta } = log;
                %>
                <pre style="display: none;"><%= JSON.stringify(meta, null, 2) %></pre>
                <ul>
                    <li>UserId : <b><%= meta.userId %></b></li>
                    <li>Role : <b><%= meta.role %></b></li>
                    <li>Endpoint : <b><%= meta.endpoint %></b></li>
                    <li>Method : <b><%= meta.method %></b></li>
                    <li>IP : <b><%= meta.ip %></b></li>
                    <li>Agent : <b><%= meta.userAgent %></b></li>
                </ul>
            </td>
            
            </tr>

        <% }); %>
      </tbody>
    </table>
  <% } %>





</section>
<%- include('../partials/footer', { title: 'EMP Management System' }) %>
</body>
</html>
