<!DOCTYPE html>
<html>
<head>
  <title>Logs for <%= date %></title>
  <style>
    
  </style>
</head>
<body>
<%- include('../partials/header') %>
<section class="sectionmin">
  <h1  class="mainheading">📄 Report Logs</h1>

<section class="logscontrol">
  <form  id="logForm" method="get" action="/report-logs">
    <label for="dateSelect">Select Date:</label>
    <select id="dateSelect" name="date" onchange="document.getElementById('logForm').submit()">
      <% availableDates?.forEach(d => { %>
        <option value="<%= d %>" <%= d === date ? 'selected' : '' %>><%= d %></option>
      <% }); %>
    </select>
  </form>
  <% if (logs.length !== 0) { %>
  <p>
    <a href="/download-logs?date=<%= date %>">Download Report </a>
  </p>
  <% }   %>
</section>

  <% if (logs.length === 0) { %>
    <p class="logsNotFound">No logs found for <b><%= date %></b></p>
  <% } else { %>
    <table class="logstable">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Level</th>
          <th>Message</th>
           <th>Metadata</th>
        </tr>
      </thead>
      <tbody>
        <% logs.forEach(log => { %>
          <% const { timestamp, level, message, ...meta } = log; %>
          <tr>
            <td><%= timestamp %></td>
            <td><%= level  %></td>
            <td><%= message %></td>
            <td>
              <pre><%= JSON.stringify(meta, null, 2) %></pre>
            </td> 
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } %>





</section>
<%- include('../partials/footer', { title: 'EMP Management System' }) %>
</body>
</html>
