<!DOCTYPE html>
<html>
<head>
  <title>All User List</title>

</head>
<body>
<%- include('../partials/header') %>
<section class="sectionmin">

  <h1 class="mainheading">
    Deactive List  
  </h1>

 
  <% if (error) { %>
      <h6 class="mainError"><%= error %></h6>
  <% }   %>

<div class="sortcontrols">
  <h5>
    Active  List <a href="/users/active">Click Here</a>
  </h5>
  <% 
    const primary = sortBy === 'createdAt';
    const secondary = sortBy === 'deletedAt'; 
  %>
  <p>
    <b>Sort : &nbsp;</b>
    <a href="?page=1&sortBy=deletedAt&order=<%= secondary && order === 1 ? 'desc' : 'asc' %>" class="<%= secondary ? 'active' : '' %>">
     Deleted <%= secondary ? (order === 1 ? '▲' : '▼') : ' ' %>
    </a>
     &nbsp; 
    <a href="?page=1&sortBy=createdAt&order=<%= primary && order === 1 ? 'desc' : 'asc' %>" class="<%= primary ? 'active' : '' %>">
      Created <%= primary ? (order === 1 ? '▲' : '▼') : ' ' %>
    </a>
     &nbsp; 
  </p>
</div>

    <% result.forEach((res) => { %>
        <div class="record_list disabled" >
            <% if (res.profilepicture && res.profilepicture.url) { %>
                <img src="<%= res.profilepicture.url %>" alt="Profile Photo"  />
            <% } %>
            <p>
                <strong>Full Name:</strong> <%= res.fullname %> || <strong>Role:</strong> <%= res.role %><br> 
                <strong>Mobile:</strong> <%= res.mobile %> || <strong>Email:</strong> <%= res.email %><br>
                <strong>Created At:</strong> <%= new Date(res.createdAt).toLocaleString() %><br>
                <% 
                const createdDate = new Date(res.createdAt);
                const updatedDate = new Date(res.updatedAt);
                if (createdDate.getTime() < updatedDate.getTime()) { %>
                  <strong>Updated At:</strong> <%= new Date(res.updatedAt).toLocaleString() %><br>
                <% } %>
                <strong>Deleted At:</strong> <%= new Date(res.deletedAt).toLocaleString() %><br>
            </p>
            <aside>
                <a href="/users/enabled/<%= res.id %>?page=<%= currentPage || 1 %>&sortBy=<%= sortBy || 'createdAt' %>&order=<%= order === 1 ? 'asc' : 'desc' %>" class="btn btn-disabled" onclick="return confirm('Are you sure you want to Enabled this?')"> Enabled</a>   
                <form action="/users/delete/<%= res._id %>" method="POST" style="display: inline; margin: 0; padding: 0; width: auto;" onsubmit="return confirm('Are you sure you want to delete this?')">
                  <input type="hidden" name="page" value="<%= currentPage || 1 %>">
                  <input type="hidden" name="sortBy" value="<%= sortBy || 'createdAt' %>">
                  <input type="hidden" name="order" value="<%= order === 1 ? 'asc' : 'desc' %>">
                  <button type="submit" class="btn btn-delete">Delete</button>
                </form>
            </aside>
        </div>
    <% }) %>


    
 <% if (totalPages > 1) { %>
<div class="pagingcontrols">
  <% if (currentPage > 1) { %>
    <a href="?page=<%= currentPage - 1 %>&sortBy=<%= sortBy %>&order=<%= order === 1 ? 'asc' : 'desc' %>">Previous</a>
  <% } %>

  <% for (let i = 1; i <= totalPages; i++) { %>
    <% if (i === currentPage) { %>
      <b><%= i %></b>
    <% } else { %>
      <a href="?page=<%= i %>&sortBy=<%= sortBy %>&order=<%= order === 1 ? 'asc' : 'desc' %>"><%= i %></a>
    <% } %>
  <% } %>

  <% if (currentPage < totalPages) { %>
    <a href="?page=<%= currentPage + 1 %>&sortBy=<%= sortBy %>&order=<%= order === 1 ? 'asc' : 'desc' %>">Next</a>
  <% } %>
</div>
 <% } %>


 
</section>
<%- include('../partials/footer', { title: 'EMP Management System' }) %>
</body>
</html>
